<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

          <div class="centered-form">

            <div id="productsDiv" class="centered-form__box"></div>

            <div id="categoriesDiv" class="centered-form__box"></div>

            <div class="centered-form__box">
                <h1>Product</h1>
                <a onclick = addProduct() >Add Product</a>
                <form id= "form"  action="/"  method="post">
                    <label>Product Name</label>
                    <input type="text" value="" id="name" name="name" placeholder="Display Name" required>

                    <select id="categories" name="category"></select>

                    <label>Description</label>
                    <textarea id ="description"    placeholder="description" name="description"    cols="40" rows="5" required></textarea>
                    <label>Price</label>
                    <input type="text" value = "" id="price"  name="price" placeholder="price" required>
                    <input type="hidden" value = "" id="id"  name="id">

                    Select images: <input type="file" id="productFiles" name="myFiles" multiple>

                    <input type="submit" value="Submit">  
                </form>

                                    <input type="button" onclick = 'addcat()' value="add cat">  

            </div>
        </div>
    </div>

    {{>footer}}

    <script src="/js/admin.js"></script>
</body>

</html>