
 

   <head>
    
  <!DOCTYPE html>
  
  <html>
  

      
      <link rel="stylesheet" href="/css/styles.css">
      <link rel="icon" href="/img/weather.png">
  
  </head>
   <title>products</title> 
   
   
   
  <body>
    <div class="wrapper">
        <div class="main">
          <div class="rowwrapper">
            <article class="main2">

              <!-- <nav class="product-filter"> -->
                <!-- <h1>Jackets</h1> -->
                
               
              
                <!-- <input type="text" id="tag" placeholder="Search by tag..."> -->
                <!-- <a id="searchButton">search</a> -->
                <!-- <label>Hello  Guest </label>
                
                 <a href="/login">Login</a>
                 -->
      
                <!-- <div class="sort">
                  <div class="collection-sort">
                    <label>Filter by:</label>
                    <select>
                      <option value="/">All Jackets</option>
                      <option value="/">2016</option>
                      <option value="/">jacket</option>
                      <option value="/">Jackets</option>
                      <option value="/">layers</option>
                      <option value="/">Obermeyer</option>
                      <option value="/">Roxy</option>
                      <option value="/">womens</option>
                     </select>
                  </div>
                  
                  <div class="collection-sort">
                    <label>Sort by:</label>
                    <select>
                      <option value="/">Featured</option>
                      <option value="/">Best Selling</option>
                      <option value="/">Alphabetically, A-Z</option>
                      <option value="/">Alphabetically, Z-A</option>
                      <option value="/">Price, low to high</option>
                      <option value="/">Price, high to low</option>
                      <option value="/">Date, new to old</option>
                      <option value="/">Date, old to new</option>
                    </select>
                  </div>
                </div> -->
              <!-- </nav> -->
               
              <section class="grid-wrapper">
                <div class="product-card">
                  <div class="product-image">
                    <img src="../../uploads/71dfufYSVmL._AC_UL320_-1591700113412.jpg">
                  </div>
                
                  <div class="product-info">
                       <label>Women Top </label>
                       <label>93.45$</label>
                  </div>
                </div>

              
                <div class="product-card">
                  <div class="product-image">
                    <img src="../../uploads/91AhrdXA1VL._AC_UL320_-1592248386563.jpg">
                  </div>
                  <div class="product-info">
                    <label>Summer Cover </label>
                    <label>29.2$</label>
                  </div>
                </div>
                 
                <div class="product-card">
                  <div class="product-image">
                    <img src="../../uploads/61f4M55hWiL._AC_UL320_-1591700113410.jpg">
                  </div>
                  <div class="product-info">
                    <label>Winter Jacket </label>
                    <label>53.2$</label>
 
                  </div>
                </div>
                
                <div class="product-card">
                  <div class="product-image">
                    <img src="../../uploads/61Xz4E+Kp0L._AC_UL320_-1591625687517.jpg">
                  </div>
                  <div class="product-info">
                    <label>Women Shirt </label>
                    <label>23.32$</label>
                  </div>
                </div>
                <div class="product-card">
                  <div class="product-image">
                    <img src="../../uploads/61Xz4E+Kp0L._AC_UL320_-1591625687517.jpg">
                  </div>
                  <div class="product-info">
                    <label>Women Shirt </label>
                    <label>23.32$</label>
                  </div>
                </div>
                <div class="product-card">
                  <div class="product-image">
                    <img src="../../uploads/61Xz4E+Kp0L._AC_UL320_-1591625687517.jpg">
                  </div>
                  <div class="product-info">
                    <label>Women Shirt </label>
                    <label>23.32$</label>
                  </div>
                </div>
                <div class="product-card">
                  <div class="product-image">
                    <img src="../../uploads/61Xz4E+Kp0L._AC_UL320_-1591625687517.jpg">
                  </div>
                  <div class="product-info">
                    <label>Women Shirt </label>
                    <label>23.32$</label>
                  </div>
                </div>
                 
              </section>  
            
            
            </article>

           
          <aside class="aside2 aside-1">  
            
            <div class="left_content">
              <div class="title_box">Categories</div>
              <ul class="left_menu">
                <li class="odd"><a href="#">Power Tools</a></li>
                <li class="even"><a href="#">Air Tools</a></li>
                <li class="odd"><a href="#">Hand Tools</a></li>
                <li class="even"><a href="#">Accessories</a></li>
                <li class="odd"><a href="#">Workwear</a></li>
                <li class="even"><a href="#">Spare Parts</a></li>
                <li class="odd"><a href="#">Power Tools</a></li>
                <li class="even"><a href="#">Air Tools</a></li>
                <li class="odd"><a href="#">Hand Tools</a></li>
                <li class="even"><a href="#">Accessories</a></li>
                <li class="odd"><a href="#">Workwear</a></li>
                <li class="even"><a href="#">Spare Parts</a></li>
              </ul>
              <div class="title_box">Special Products</div>
            
              <!-- <div class="title_box">Newsletter</div> -->
              <!-- <div class="border_box">
                <input type="text" name="newsletter" class="newsletter_input" value="your email">
                <a href="#" class="join">subscribe</a> </div>
              <div class="banner_adds"> <a href="#"><img src="../../images/bann2.jpg" alt="" border="0"></a> </div> -->
            </div>
            
<!--             
            <div class ="zone "> 
  
  <ul id =ulcategories>
       
  
          <li onclick="getSubCategories('yyyy','cat1','5ed8eb44912d3f4219e269d0')" >cat1</li>
          
        
  
          <li onclick="getSubCategories('yyyy','cat2','5ed8ecb3d3475043390d3bf2')" >cat2</li>
          
       
  </ul>
      </div> -->
      <!-- <script src="/js/categories.js"></script> -->
      
          </aside>
          <aside class="aside aside-2">

            <!-- <div class="title_box">Search</div>
            <label>Category</label>
            <select class="field" id="categories">
              <option  class="field" value="0">--all--</option>
              
                <option  class="field" value="5ed8eb44912d3f4219e269d0">cat1</option>
              
                <option  class="field" value="5ed8ecb3d3475043390d3bf2">cat2</option>
              
            </select>
            <label>Search By</label>

            <input type="text" id="tag"  class="field" placeholder="keywords here ..." title="keywords here ...">

            
            <a  id="searchButton" type="submit" class="search-btn" value="">Search</a>
 
            <hr> -->

            <div class="title_box">Login</div>
             
            <label>Email</label>
            <input type="text" name="email" id="email"  class="field" placeholder="email.." title="email...">

            <label>Name</label>
            <input type="text" name="password" id="password"  class="field" placeholder="name.." title="name...">
            <input type="button" value="Submit">  

            <hr>
            <div class="title_box">           
            <a class="icon-cart">Your Cart</a> </div>

            <div>
              <label>Items</label>
  
              <label>3</label>
              <label>Total</label>

            <label>330$</label>
            </div>
 
            <a  id="searchButton" type="submit"  value="">Search</a>

            <!-- <form id= "form" enctype="multipart/form-data" action="/"  method="post"> -->
           <!-- </form> -->

           
          </aside>
         </div> 
      </div>
      <aside class="aside header">
        <header id="header">
          <h1 id="logo"><a href="#">Retina</a></h1>
          <ul class="menu">
            <li class="field search push" > 
               <select >
              <option value="/">--All--</option>
              <option value="/">2016</option>
              <option value="/">jacket</option>
              <option value="/">Jackets</option>
              <option value="/">layers</option>
              <option value="/">Obermeyer</option>
              <option value="/">Roxy</option>
              <option value="/">womens</option>
             </select>    
             <input type="text" id="tag"  class="field" placeholder="keywords here ..." title="keywords here ...">
            </li>
            <li>
              <input type="button"  id="searchButton" type="submit" class="search-btn" value="">

            </li>

          </ul>  

        </header>
        
    <nav class="zone">
      <!-- id="menu_tab" -->
    
        <ul class="menu">
          <li><a href="#" class="nav"> Home </a></li>
          <li><a href="#" class="nav">Products</a></li>
           
          <li><a href="#" class="nav">My account</a></li>
           <li><a href="#" class="nav">Sign Up</a></li>
           <li><a href="#" class="nav">Shipping </a></li>
           <li><a href="contact.html" class="nav">Contact Us</a></li>


            <li class="push"><a  class="nav icon-lock" href="javascript:void(0)">
               
              Hello Guest </a></li>
 

            
        </ul>
     
      
         
    </nav>

    <nav class="zone">
        <ul class="navigation">
          <li class="navmap"> Navigation: </li>
        <li><a href="#" class="navmap"> Home</a></li>
        <li><a href="#" class="navmap">Garden Tools</a></li>

            <!-- <li><a href="#" class="nav">My account</a></li>
           <li><a href="#" class="nav">Sign Up</a></li>
           <li><a href="#" class="nav">Shipping </a></li>
           <li><a href="contact.html" class="nav">Contact Us</a></li>


            <li class="push"><a  class="nav icon-lock" href="javascript:void(0)">
               
              Hello Guest </a></li> -->
 

            
        </ul>
     
      
         
    </nav>
   
    


    <!-- <div class="crumb_navigation"> Navigation: <span class="current">Home</span> </div> -->
    <script type="text/javascript">
      var shopName="yyyy"
      var username="Guest"
     </script>
  <script src="/js/search.js"></script>
  
   
  
  
  
      </aside>
      <aside class="aside footer">
        <footer class="zone yellow">Online Shop</footer>
  
  
      </aside>
    </div>
    <script src="/js/categories.js"></script>
  
    <script src="/js/products.js"></script>
   
  </body>
        