
<header>
    
    <!DOCTYPE html>
    <html>
      <%- include('../partials/head.ejs') %> 
       
   
    
      <body>
        <div class="wrapper static_wrapper">
           <article class="main">
            <div class="main-wrapper">
              <article class="main-center">
                <form  class="contact_form" id= "form" enctype="multipart/form-data" action="/login"  method="post">
                  <div class="flex-container">
                    <div class="center_title_bar">Login</div>
                  </div>
                  <div>
                    <label class="contact"><strong>Email:</strong></label>
                    <input tabindex="3" placeholder="email" value ="" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="contact_input"  required >
                  </div>
                  <div>
                    <label class="contact"><strong>password:</strong></label>
                    <input tabindex="4" placeholder="password" value ="" name="password" type="text" class="contact_input" required >
                  </div>
                  <div>
                    <input class="prod_details" tabindex="8"  type="submit" value="Sign Up">  
                  </div>
                </form>
              </article> 
          </div>
          </article>
         
          <%- include('../partials/footer.ejs') %> 
        </div>
    </body>
  </html>
   
     
  
   
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
   