
<header>
    
    <!DOCTYPE html>
    <html>
      <%- include('../partials/head.ejs') %> 
       
   
    
      <body>
        <div class="wrapper static_wrapper">
         
          ttttttttttttttt
          <article class="main">
            <div class="main-wrapper">
              <article class="main-center">
                  
                <form  class="contact_form" id= "form" enctype="multipart/form-data" action="/shops"  method="post">
                  <div class="flex-container">
                    <div class="center_title_bar">Sign Up</div>
   
                  </div>
                  <div>
                    <label class="contact"><strong> First Name:</strong></label>
                    <input type="text" placeholder="first name" value ="doron" name="name" tabindex="1"  class="contact_input" required autofocus>
                  </div>
                  <div>
                    <label class="contact"><strong> Last Name:</strong></label>
                    <input type="text" placeholder="last name"  value ="doron" name="last" tabindex="2"  class="contact_input" required  >
                  </div>
                  <div>
                    <label class="contact"><strong>Email:</strong></label>
                    <input tabindex="3" placeholder="email" value ="" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="contact_input"  required >
                  </div>
                  <div>
                    <label class="contact"><strong>password:</strong></label>
                    <input tabindex="4" placeholder="password" value ="" name="password" type="text" class="contact_input" required >
                  </div>
                  <div>
                    <label class="contact"><strong>Phone:</strong></label>
                    <input  name="phone" placeholder="phone"  value ="" tabindex="5" type="text" class="contact_input">
                  </div>
                  
                  <div>
                    <label class="contact"><strong>Address::</strong></label>
                    <textarea value =""  placeholder="Full Address" name="address" tabindex="6" class="contact_textarea" required ></textarea>
                  </div>
  
                  <div>
                    <label class="contact"><strong>Image:</strong></label>
  
  
                  <input tabindex="7"  type="file" id="productFiles" name="avatar" >
  
                  </div>
  
                  <div>
                    <input class="prod_details" tabindex="8"  type="submit" value="Sign Up">  
  
                    
                    
                  </div>
                </form>
                  
              </article> 
               
             
          </div>
            
          </article>
         
          <footer class="footer"> <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a></p></footer>
        </div>
    </body>
  </html>
   
     
  
   
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
   