{{>header}}

<body>
    <div class="main-content">
        <div class="centered-form">
            <div class="centered-form__box">
                <h1>SignIn</h1>
                <form id= "form" enctype="multipart/form-data" action="/"  method="post">
                    <label>User Name</label>
                    <input type="text" value="" id ="name" name="name" placeholder="Display name" required>
                    <label>Email</label>
                     <input type="text" value="" id ="email" name="email" placeholder="email" required>
                    <label>Password</label>
                    <input type="text" value = "" id="password"  name="password" placeholder="password" required>
                     Select image: <input type="file" id="productFiles" name="avatar" >
                    <input type="submit" value="Submit">  
                </form>
                <label id="err"></label>

            </div>
        </div>
    </div>

    {{>footer}}

    <script src="/js/login.js"></script>
</body>

</html>