
{{>header}}
<body>
    <div class="main-content">
        <div class="centered-form">
          <div id="productsDiv" class="centered-form__box"></div>
          <div id="ordersDiv" class="centered-form__box"></div>
        </div>

    </div>

    {{>footer}}

    <script src="/js/product.js"></script>
</body>

</html>