
{{>header}}
<body>
    <div class="main-content">
        <div class="centered-form">
          <div id="productsDiv" class="centered-form__box"></div>
 
        </div>
    </div>
    {{>footer}}

    <script src="/js/products.js"></script>
</body>

</html>