
{{>header}}
<body>
    <div class="main-content">
        <div class="centered-form">
          <div id="ordersDiv" class="centered-form__box"></div>
          <div id="productDiv" class="centered-form__box"></div>
          <div id="productOrdersDiv" class="centered-form__box"></div>
        </div>
    </div>
    {{>footer}}

    <script src="/js/product.js"></script>
    <script type="text/javascript">
    
        getProduct("{{id}}")
    </script>
</body>

</html>