
 

   <head>
    
    <!DOCTYPE html>
    
    <html>
        <link rel="stylesheet" href="/css/test.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
      <div class="wrapper">
        <%- include('../partials/header.ejs') %>
       
        <article class="main">
          <div class="main-wrapper">
            <article id="secProducts" class="main-center">
              <%- include('../partials/products.ejs') %>

               
            


             
    
            
              
            
              </article> 
              <div > 
                <%- include('../partials/aside.ejs') %>

                
              </div>

                <%- include('../partials/login_aside.ejs') %>
        </div>
          
        </article>



       
           
        <footer class="footer"> <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a></p></footer>
      </div>
  </body>
</html>