<head>
    <!DOCTYPE html>
    <html>
      <link rel="stylesheet" href="/css/test.css">
      <link rel="icon" href="/img/weather.png">
  </head>
  <body>
    <div class="wrapper">
         <article class="main">
        
          <div class="center_content">
            <div class="center_title_bar">Contact Us</div>
            <div class="prod_box_big">
              <div class="center_prod_box_big">
                
                <form  class="contact_form" id= "form" enctype="multipart/form-data" action="/users/signUp"  method="post">

               
                  <div class="form_row">
                    <label class="contact"><strong> First Name:</strong></label>
                    <input type="text"placeholder="first name" value ="doron" name="name" tabindex="1"  class="contact_input" required autofocus>
                  </div>
                  <div class="form_row">
                    <label class="contact"><strong> Last Name:</strong></label>
                    <input type="text"placeholder="last name"  value ="doron" name="last" tabindex="1"  class="contact_input" required autofocus>
                  </div>
                  <div class="form_row">
                    <label class="contact"><strong>Email:</strong></label>
                    <input tabindex="2" placeholder="email" value ="dorperlst@gmail.com" name="email" type="text" class="contact_input" >
                  </div>
                  <div class="form_row">
                    <label class="contact"><strong>Phone:</strong></label>
                    <input  name="phone" placeholder="phone"  value ="555555555" tabindex="3" type="text" class="contact_input">
                  </div>
                  <div class="form_row">
                    <label class="contact"><strong>Shipping Address:</strong></label>
                   </div>
                  <div class="form_row">
                    <label class="contact"><strong>Street Address:</strong></label>
                    <input  name="street" value ="tttt" tabindex="4" type="text" class="contact_input">
                  </div>
                  <div class="form_row">
                     <input  placeholder="city" name="city" value ="tttt" tabindex="5" type="text" class="contact_input">
                    <input  placeholder="state" name="state" value ="tttt" tabindex="6" type="text" class="contact_input">

                  </div>  
                  <div class="form_row">
                    <input  placeholder="zip code" name="zip" value ="523777" tabindex="7" type="text" class="contact_input">
                    <input  placeholder="country" name="state" value ="usa" tabindex="8" type="text" class="contact_input">

                  </div>  
                    <div class="form_row">
                    <label class="contact"><strong>Street Address:</strong></label>
                    <input  name="street" value ="tttt" tabindex="4" type="text" class="contact_input">
                  </div>
                  <div class="form_row">
                    <label class="contact"><strong>Message:</strong></label>
                    <textarea value ="dffffffffffffffff"  name="msg" tabindex="5" class="contact_textarea"></textarea>
                  </div>
                  <div class="form_row">
                    <input class="prod_details" type="submit" value="Send">  

                    
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </article>
        
      
        <footer class="footer">Footer</footer>
      </div>
    </div>
     
    </body>
  </html>