<head>
    <!DOCTYPE html>
    <html>
      <link rel="stylesheet" href="/css/test.css">
      <link rel="icon" href="/img/weather.png">
  </head>
  <body>
    <div class="wrapper">
         <article class="main">
        
          <div class="center_content sign-up">
  
         
            <div class="prod_box_big ">
              <div class="center_prod_box_big">
                
                <form  class="contact_form" id= "form" enctype="multipart/form-data" action="/users"  method="post">
                  <div class="flex-container">
                    <h3 >Sign Up</h3>
                  </div>
                  <div class="form_row">
                    <label class="contact"><strong> First Name:</strong></label>
                    <input type="text" placeholder="first name" value ="doron" name="name" tabindex="1"  class="contact_input" required autofocus>
                  </div>
                  <div class="form_row">
                    <label class="contact"><strong> Last Name:</strong></label>
                    <input type="text" placeholder="last name"  value ="doron" name="last" tabindex="2"  class="contact_input" required autofocus>
                  </div>
                  <div class="form_row">
                    <label class="contact"><strong>Email:</strong></label>
                    <input tabindex="3" placeholder="email" value ="dorperlst@gmail.com" name="email" type="text" class="contact_input" >
                  </div>
                  <div class="form_row">
                    <label class="contact"><strong>password:</strong></label>
                    <input tabindex="4" placeholder="password" value ="onlinepass" name="password" type="text" class="contact_input" >
                  </div>
                 



                  <div class="form_row">
                    <label class="contact"><strong>Phone:</strong></label>
                    <input  name="phone" placeholder="phone"  value ="555555555" tabindex="5" type="text" class="contact_input">
                  </div>
                 
                  <div class="form_row">
                    <label class="contact"><strong>Address::</strong></label>
                    <textarea value =""  placeholder="Full Address" name="address" tabindex="6" class="contact_textarea"></textarea>
                  </div>

                  <div class="form_row">
                    <label class="contact"><strong>Image:</strong></label>


                  <input tabindex="7"  type="file" id="productFiles" name="avatar" >

                  </div>

                  <div class="form_row">
                    <input class="prod_details" tabindex="8"  type="submit" value="Sign Up">  

                    
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </article>
         

        <footer class="footer">Footer</footer>
      </div>
    </div>
     
    </body>
  </html>