<!-- <aside class="aside aside-2">
        

    <div class="title_box">Login</div>
         
    <label>Email</label>
    <input type="text" name="email" id="email"  class="field" placeholder="email.." title="email...">

    <label>Name</label>
    <input type="text" name="password" id="password"  class="field" placeholder="name.." title="name...">
    <input type="button" value="Submit">  

    <hr>
    <div class="title_box">           
    <a class="icon-cart">Your Cart</a> </div>

    <div>
      <label>Items</label>

      <label>3</label>
      <label>Total</label>

    <label>330$</label>
    </div>

    <a  id="searchButton" type="submit"  value="">Search</a>


    <div class="title_box">Manufacturers</div>
    <ul class="left_menu">
      <li class="odd"><a href="#">Bosch</a></li>
      <li class="even"><a href="#">Samsung</a></li>
      <li class="odd"><a href="#">Makita</a></li>
      <li class="even"><a href="#">LG</a></li>
      <li class="odd"><a href="#">Fujitsu Siemens</a></li>
      <li class="even"><a href="#">Motorola</a></li>
      <li class="odd"><a href="#">Phillips</a></li>
      <li class="even"><a href="#">Beko</a></li>
    </ul>
  </aside> -->