<div class ="zone "> 

<ul id =ulcategories>
    <% categories.forEach(function(category) { %>
        <li onclick="getSubCategories('<%= shopname %>','<%= category.name %>')"><%= category.name %></li>
    <% }); %>
</ul>
    </div>
    <script src="/js/categories.js"></script>
    