<div class="title_box">Categories</div>
 

<ul class="left_menu" id =ulcategories>
    <% var line='odd' %> 
    <% categories.forEach(function(category) { %> 

        <li class="<%= line %>"  ><a onclick="getSubCategories('<%= category.name %>','<%= category.parent %>')"><%= category.name %></a></li>
        <%  line='even' %> 

     <% }); %>
</ul>
   
<script src="/js/categories.js"></script>
