
<header>
    
<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>  {{username}}
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/user.js"></script>

</head>
    <a onclick='logout()'>Logout</a>
    <a onclick='logoutAll()'>Logout All</a>

 
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>