
<header>
    
<!DOCTYPE html>

<html>

<head>
    
    <link rel="stylesheet" href="/css/styles.css">

</head>
 <title>{{title}}</title> 
 
<div id ="userDiv">
   
    
</div>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/help">Help</a>



<script src="/js/user.js"></script>
 <script type="text/javascript">
     init("{{username}}")
</script>
</header>