
<login>

    <div class="title_box">Login</div>
    <form id= "loginForm" enctype="multipart/form-data" action="/"  method="post">
        <label>Email</label>
        <input type="text" name="email" id="email"  class="field" placeholder="email.." title="email...">
        <label>password</label>
        <input type="text" name="password" id="password"  class="field" placeholder="password.." title="password...">
        <div> <input class="prod_buy" type="submit" value="Submit"> </div>
    </form>
    <hr>
    <script src="/js/productLogin.js"></script>

</login>
