 <search >


  <nav class="zone green">
    <ul class="main-nav">
        <li><a href="">About</a></li>
        <li><a href="">Products</a></li>
         <li>
            
                <select id="categories"></select>
                <input type="text" id="tag" placeholder="Search by tag...">
                <a id="searchButton">search</a>
          
        </li>  
           
        <li  id ="liSign" class="push" ></li>
        <li  id ="liUser" class="push"></li>
    </ul>
  </nav>
 
<script src="/js/search.js"></script>
 <script type="text/javascript">
 
    init('<%= shopname %>', '<%= username %>' )
</script>
</search>


