 <search >
   <div style="height: 30px;margin:10px;">
        <div>
            <label>-----------search------------</label>
            <select id="search" name="search"></select>
            <input type="text" name="searchValue" placeholder="Search">
            <input type="button" onclick = 'search()' value="search">  
        </div>
    </div>
    </br> </br>
</search>

<script src="/js/search.js"></script>
 <script type="text/javascript">
     init("{{shopname}}")
</script>


 