.text-uppercase {
  text-transform: uppercase !important;
}
 h3 {
  display: block;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  font-weight: 900;
  font-weight: bold;
}

.about{
  display: none;
}
.about_cur{
  display: block;
}
.about_img-box
{
  height: 450px;
  overflow: hidden;
}

.about_img-box img {
  width: 100%;
  max-height: 450px;
}
img {
  vertical-align: middle;
  border-style: none;
}
p {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #000205;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  
}
.about h3{
  text-align: center;
}