
.order-details >span  >label{
    color:black
    /* text-align: center; */;
    font-size: 14;
  }
  
  
  .order-details >span{
    width:250px;
    /* text-align: center; */
    overflow: hidden;
  }
  .order-details{
    padding: 0;
    position: relative;
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
  }

  .order-details > h3
{
  font-weight: 700;
  width: 150px;
  margin: auto;
};
.btn-danger:focus {
    outline:none;
  }
   
  .btn-danger{
    height: 20px;
    width: 20px;
    border: none;
    background: url(../../images/delete-small.png) no-repeat center;
   }

   .btn-confirm{
    height: 20px;
    width: 20px;
    border: none;
    background: url(../../images/confirm.png) no-repeat center;
   }

   .total{
    border-top: 1px dashed gray
  }


.center_content_fix
{
  width: 600px;
}
 
.center_content_fix, .center_content {
  margin-right: auto;
  height: 100%;
  margin-left: auto;
  padding-bottom: 50px;
}
.even-order{background-color: #0489ab0f;}

#order_total_items {
    width: 200px;
    padding-left: 25px;
}
.btn {
    vertical-align: center;
    /* -webkit-border-radius: 0; */
    -moz-border-radius: 0;
    /* border-radius: 0; */
    border: 1px solid gray;
    width: 20px;
  }

  .paypal{
      width:200px;
      margin: auto;
  }
