* {
 -moz-box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
 -moz-font-smoothing: antialiased;
 -o-font-smoothing: antialiased;
 font-smoothing: antialiased;
}

.wrapper, .main-wrapper {
    font-weight: bold;
    margin: auto;
    display: flex;
    height: 100%;
  }
  
  .main-wrapper {
    flex-flow: row;
    height: 100%;
  }

  .static_wrapper {
    width: 1200px;
  }

  .wrapper{
    flex-flow: column;
    max-width: 1400px;
  }
  
  .wrapper > * , .main-wrapper  > *{
    /* padding-top: 10px; */
  }
    
  .header {
    padding: 0;
    margin: 0;
  }
  .aside {font-family: Arial, Helvetica, sans-serif;padding: 10px;/* padding-right: 5px; */flex: 1 0 0;}
    
  .main-center    {flex: 5 0 0;}
  .main    {flex: 25 0 0;}
  .aside-1 {    margin-left: 15px;
    order: 1; } 
  .main-center    {
    order: 2;
    display: flex;
    background: #fff;
    justify-content: normal;
    flex-flow: column;
    padding: 10px 10px 15px 15px;
    }
  .main  {/* overflow-y: scroll; */order: 2;flex-flow: row;}
  .aside-2 { order: 3; }
  .footer  {
    display: flex;
    justify-content: center;
    flex: 1 0 0;
    order: 3;
    }
    .footer > label{
     padding: 5;
    }
     
 

  #navheader {
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-flow: row;
    max-height: 125px;
    background: url(../../images/border-title.png) repeat-x 0 bottom;
  }
   
  ul.menu {
    list-style-type:none;
    display: flex;
  }
  
  ul.menu li {
    font-size: 16px;
    font-weight:bold;
    line-height:36px;
    display: flex;
  }
  
  ul.menu li.divider {
    width:4px;
    height:36px;
    float:left;
    background:url(../../images/menu_divider.gif) no-repeat center;
  }
    
  a.nav, a.nav:visited {
    display: flex;
    padding:0px 8px 0px 8px;
    margin:0 14px 0 14px;
    text-decoration:none;
    color: #7c7c8c;
  }
    
  a.nav:hover{
    display:flex;
    padding:0px 8px 0px 8px; 
    margin:0 14px 0 14px;
    text-decoration:none;
    color:#199ECD;
  }
    
  .crumb_navigation{
    width:980px;
    height:15px;
    margin-left: 15px;
    padding:5px 10px 0 20px;
    color:#333333;
    background:url(../../images/navbullet.png) no-repeat left;
    background-position: 5px 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
  }
  .crumb_navigation a{
    text-decoration:underline;
  }
  span.current{
    color:#0fa0dd;
  }
    
  @media only screen and (max-width: 600px) {
      .main-nav {
          font-size: 0.5em;
          padding: 0;
      }
  }
  
  .push {
    display: flex;
    margin-left: auto;
  }
  
  ul {
     list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
     }
   
     
* :focus {
    outline:none;
  }

body {
    height: 100%;
    margin: 0;
    background-color: #f6f6f6;
    padding:0;
    /* font-family:Arial, Helvetica, sans-serif; */
    font-size:13px;
 }

 .cart_details {
  width: 115px;
  float: left;
  padding: 10px 0 0 15px;
  text-align: left;
}
span.border_cart {
  width: 100px;
  height: 1px;
  margin: 3px 0 3px 0;
  display: block;
  border-top: 1px #999999 dashed;
}
.shopping_cart {
  width: 180px;
  height: 84px;
  text-align: center;
}
 .copyright {
    text-align: center;
  }


label {
    color: #666;
    font-weight: 500;
    line-height: 2em;
   }



.title_box {
    width: 180px;
    height: 30px;
    background: url(../../images/menu_title_bg.gif) no-repeat center;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #159dcc;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
  }
  
  ul.left_menu {
    width: 180px;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  ul.left_menu li {
    margin: 0px;
    height: 46px;
    list-style: none;
    text-align: left;
    margin: 0;
  }
   
  ul.left_menu li.even a{
  
    border-bottom: 1px #e4e4e4 dashed;
    background-color: #f5f0f1;
  }
  
   li.cur a{
    font-size: 20px !important;
  
   }
  
    ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover{
    color:#000; text-decoration:underline;
    }
  
   
    ul.left_menu li.tree a,
    ul.left_menu li.sub a,
    ul.left_menu li.even a,
    ul.left_menu li.odd a{
    font-size: 14px;
    width:166px;
    /* height:25px; */
    display:block;
    text-decoration:none;
    color:#504b4b;
    padding: 10 0 10 14px;
    line-height:25px;
  }
 
  ul.left_menu li.even a{
    /* height: 46px; */
    border-bottom:1px #e4e4e4 dashed;
    background-color:#f0f4f5;
  }

  .field {
    display: flex;
    height: 24px;
    border: 1px solid #d3d3d3;
    color: #464141;
    background: #ededed;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    text-align-last: center;
   }

   #categories {
    display: flex;
    outline:none;
    text-align-last:center;
    padding: 0 .5em;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    justify-content: center;
  }

  option:hover,
  option:focus,
  option:active,
  option:checked ,
    option{
    zoom: 1.2;
    outline: none !important;
    line-height: inherit;
    box-shadow: none !important;
    }
 

.icon-cart::after {  content: " ";background: url(../../images/cart.png) center no-repeat; height: 17px; padding-left: 20px;}
.icon-lock::before {content: " ";background: url(../../images/login.png) center no-repeat;padding-left: 20px;margin-bottom: 2px;}
 
 .search >* {border: none}
 .search >select {
   width: 30%;
   font: bold   "Helvetica Neue", sans-serif;
   appearance: none;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

select:focus {
  outline:none;
}
.search >option{

  background: blanchedalmond;
  line-height: 35px;
}
 .field :focus{
    border-width:0 ;
    border: none;
 }

#logo {display: flex;padding-left: 50px;}

#logo a {
  cursor: default;
  height: 56px;
  display: block;
  background: url(../../images/logo.png) no-repeat 0 0;
}

.navmap{
    text-decoration: underline;
    color: #7c7c8c;
}
.navmap::before {
  height: 12px;content: " ";
  background: url(../../images/navsep.png) center no-repeat;
  padding-left: 15px;padding-bottom: 2px;
}

.selected > a{
    font-size: 16px !important;
    font-weight: bolder;
  }

input.prod_buy,
a.prod_buy{
  width:75px;
  height:24px;
  border: 0;
  background:url(../../images/link_bg.gif) no-repeat center;
  margin:2px 0 0 5px;
  text-align:center;
  line-height:24px;
  text-decoration:none;
  color: #006600;
}

form{text-align: left; }
.submit,
form >div{
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  color: #666;
}

form >.field{   text-align-last: left;  }

.flex-container {
    display: flex;
    justify-content: left;
    flex-flow: row;
    /* padding: 10 0 0 0; */
    margin-top: 6px;
    list-style: none;
}
  
.search-btn {
  float: left;
  margin-top: 2;
  margin-left: 10;

  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
  cursor: pointer;
  width: 28px;
  height: 22px;
  border: 0;
  background: url(../../images/search1.png) no-repeat 0 0;
}

.price{
  color: #ff8a00;
  /* padding-bottom: 10px; */
}
.nested-cat{
    display: flex;
    padding-left: 10px;
    margin: 0px 0px 0px 15px;
  }

.prod_details {
  border: none;
  width: 75px;
  height: 24px;
  display: block;
  background: url(../../images/link_bg.gif) no-repeat center;
  text-align: center;
  line-height: 24px;
  text-decoration: none;
  color: #159dcc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
 
.prod_box_big{text-align: center;height: 100%;background: #fff;padding:10px 10px 15px 15px;}

.center_prod_box_big{  margin:0px;}

.product_img_big{padding:10px 0 0 10px;height: inherit;display: flex;justify-content: space-around;}
.product_title_big{color: #11136b;padding:5px 0 5px 0;font-weight:bold;font-size: 14px;margin: auto;}

.flex-container >select {
  height: 22px;
  margin-left: 5px;
  padding-top: 2px;
  background-color: #fff;
  color: #999999;
  border: 1px #DFDFDF solid;
  border: 1px solid #d3d3d3;
  color: #464141;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}

#mainImg{
  max-width: 200px;
  padding-bottom: 20px;
}

.center_title_bar{
  width:575px;
  text-align: center;
  padding:0 0 0 10px;
  margin: 0 auto 20 auto;
  line-height:31px;
  font-size:12px;
  background-color: aquamarine;
  color:#159DCC;
  font-weight:bold;
  background: url(../../images/bar_bg.gif) no-repeat;
}
.contact_form {
  margin: 0 auto;
}

.contact_form >div>label{
  width: 75px;
  height: 22px;
  font-size: 12px;
}

input.contact_input{
  width: 253px;
  height: 22px;
  background-color: #fff;
  color: #999999;
  border: 1px #DFDFDF solid;
  border: 1px solid #d3d3d3;
  color: #464141;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}
.contact_form >div>textarea{
  width: 253px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #999999;
  background-color: #fff;
  border: 1px #DFDFDF solid;
}

.contact_form >div>textarea:hover,
.contact_form >div>textarea:focus
{
  outline: none;
  width: 253px;outline: none; height: 100px;;background-color: #fff;
  color: #999999;border: 2px solid #d3d3d3;
  color: #464141;background: #f5f1f187;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}

#mapid {height: 400px;}

.panel-heading {
  position: relative;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  border-top-right-radius: 3px;
  text-align: center;
  border-top-left-radius: 3px;
  color: #666;
  font-weight: 500;
  line-height: 2em;
}

.next
{
  margin: auto;
  text-decoration: none;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  line-height: 1.1;
}
 
.col-md {
  -ms-flex: 0 0 50%;
  flex: 0 0 45%;
  max-width: 50%;
}

.header-src {margin: auto;padding-top: 40;padding-left: 55;}

#ul-attributes{  padding-top: 15px;}

.cart_icon
{
  padding-top: 10px;
}

 
.col-logo {
  background: url(../../images/logo_text.png) no-repeat center;
  justify-content: center;
  display: flex;
 
  width: 500px;
}
.col-logo > a {display: flex;margin: 0;}
.col-logo > a >img{

  margin: auto;

}

#loginForm .field{
  width: 175px;
  margin: auto;
}

#loginForm >label{
  padding-left: 5px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 50px;
  background-color: #fff;
  margin-bottom: 15px;
}

.prod_details_tab {
  width: 173px;
  height: 31px;
  background: url(../images/products_details_bg.gif) no-repeat center;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.prod_details_tab a{/* padding-top: 7px; */margin: auto 0 auto 0;padding-right: 5px;}

.prod_details_tab a {

text-decoration: none;

font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
}

a.details {
  color: #0fa0dd;

}

a.details::before {content: " ";background: url(../images/square-blue-add.gif) center no-repeat;padding-left: 20px;/* margin-bottom: 2px; */}


output {
  position: absolute;
  background-image: linear-gradient(#444444, #999999);
  width: 40px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
  display: inline-block;
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
}
output:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.range { position: relative; margin: 50px;   }


.multi-range, .multi-range * { box-sizing: border-box; padding: 0; margin: 0; }
.multi-range {
    position: relative;
    width: 160px;
    height: 28px;
    margin: 16px;
    /* border: 1px solid #ddd; */
    font-family: monospace;
}
.multi-range > hr {
  border: 4px solid #7c7c8c;
  border-radius: 5px;
  /* appearance: slider-horizontal; */
  /* color: rgb(157, 150, 142); */
  /* cursor: default; */
  /* padding: initial; */
  /* border: initial; */
  /* margin: 2px; */
  position: absolute;
  width: 100%;
  /* height: 5px; */
  top: 50%;
  }
.range > input[type=range] ,
.multi-range > input[type=range] {
    width: calc(100% - 16px);
    position: absolute;
    bottom: 0px;
    left: 0;
}
.multi-range > input[type=range]:last-of-type { margin-left: 16px; }
.multi-range > input[type=range]::-webkit-slider-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-webkit-slider-runnable-track { -webkit-appearance: none; height: 0px; }
.multi-range > input[type=range]::-moz-range-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-moz-range-track { -webkit-appearance: none; height: 0px; }
.multi-range > input[type=range]::-ms-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-ms-track { -webkit-appearance: none; height: 0px; }
.multi-range::after { 
    content: attr(data-lbound) ' - ' attr(data-ubound); 
    position: absolute; top: 0; left: 100%; white-space: nowrap;
    display: block; padding: 0px 4px; margin: -1px 2px;
    height: 26px; width: auto; border: 1px solid #ddd; 
    font-size: 13px; line-height: 26px;
}



.product-image  {
  height: 260px;
  display: grid;
  overflow: hidden;
  justify-content: center;
}

 
.product-image img {
  width: 100%;
  border: none;
  max-width: 250px;
  min-width: 200px;

  margin: auto;
}



ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

ul.pagination li a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

 
div.center {display: flex;justify-content: center;}


.order-details >span {
  width: 250px;
  overflow: hidden;
}
.order-details {
  height: 40px;
  display: flex;
  font-size: 14px;
  align-items: center;
  width: 100%;
}
