* {
 -moz-box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
 -moz-font-smoothing: antialiased;
 -o-font-smoothing: antialiased;
 font-smoothing: antialiased;
 /* text-rendering: optimizeLegibility; */
}

.wrapper, .main-wrapper {
    font-weight: bold;
    margin: auto;
    display: flex;
    height: 100%;
  }
  
  .main-wrapper {
    flex-flow: row;
    height: 100%;
  }

  .static_wrapper {
    width: 1200px;
  }

  .wrapper{
    flex-flow: column;
    max-width: 1400px;
  }
  
  .wrapper > * , .main-wrapper  > *{
    padding: 10px;
  }
    
  .header {
    padding: 0;
    margin: 0;
    /* flex: 0 0 0; */
  }
  .aside {flex: 1 0 0;}
    
  .main-center    {flex: 5 0 0;}
  .main    {flex: 25 0 0;}
  .aside-1 { order: 1; } 
  .main-center    {
    /* height: 800px; */
    order: 2;
    display: flex;
    /* height: 100%; */
    background: #fff;
    justify-content: normal;
    flex-flow: column;
    /* padding-bottom: 30px; */
    padding: 10px 10px 15px 15px;
    }
  .main  {overflow-y: scroll;order: 2;flex-flow: row;}
  .aside-2 { order: 3; }
  .footer  {display: flex;flex: 1 0 0;order: 3;}
   
    
  #navheader {
    margin-bottom: 15px;
    position: relative;
    padding-top: 25px;
    height: 43px;
    background: url(../../images/border-title.png) repeat-x 0 bottom;
  }
   
  ul.menu {
    list-style-type:none;
    display: flex;
    padding:0px;
  }
  
  ul.menu li {
    padding: 0px;
    font-size: 16px;
    font-weight:bold;
    line-height:36px;
    display: flex;
  }
  
  ul.menu li.divider {
    width:4px;
    height:36px;
    float:left;
    background:url(../../images/menu_divider.gif) no-repeat center;
  }
    
  a.nav, a.nav:visited {
    display: flex;
    /* float:left; */
    padding:0px 8px 0px 8px;
    margin:0 14px 0 14px;
    text-decoration:none;
    color: #7c7c8c;
  }
    
  a.nav:hover{
    display:flex;
    /* float:left;  */
    padding:0px 8px 0px 8px; 
    margin:0 14px 0 14px;
    /* height:36px; */
    text-decoration:none;
    color:#199ECD;
  }
    
  .crumb_navigation{
    width:980px;
    height:15px;
    margin-left: 15px;
    padding:5px 10px 0 20px;
    color:#333333;
    background:url(../../images/navbullet.png) no-repeat left;
    background-position: 5px 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
  }
  .crumb_navigation a{
    text-decoration:underline;
  }
  span.current{
    color:#0fa0dd;
  }
    
  @media only screen and (max-width: 600px) {
      .main-nav {
          font-size: 0.5em;
          padding: 0;
      }
  }
  
  .push {
    display: flex;
    margin-left: auto;
  }
  
  ul {
     list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
     }
   
     
* :focus {
    outline:none;
  }

body {
    height: 100%;
    margin: 0;
    background-color: #f6f6f6;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
 }

 .cart_details {
  width: 115px;
  float: left;
  padding: 5px 0 0 15px;
  text-align: left;
}
span.border_cart {
  width: 100px;
  height: 1px;
  margin: 3px 0 3px 0;
  display: block;
  border-top: 1px #999999 dashed;
}
.shopping_cart {
  width: 180px;
  height: 84px;
  text-align: center;
}
 .copyright {
    text-align: center;
  }


label {
    color: #666;
    font-weight: 500;
    line-height: 2em;
   }



.title_box {
    width: 180px;
    height: 30px;
    background: url(../../images/menu_title_bg.gif) no-repeat center;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #159dcc;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
  }
  
  ul.left_menu {
    width: 180px;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  ul.left_menu li {
    margin: 0px;
    list-style: none;
    text-align: left;
  }
   
  ul.left_menu li.even a{
    font-size: 14px;
    width: 166px;
    height: 25px;
    display: block;
    border-bottom: 1px #e4e4e4 dashed;
    background-color: #f0f4f5;
    text-decoration: none;
    color: #504b4b;
    padding: 10 0 10 14px;
    line-height: 25px;
  }
  
   li.cur a{
    font-size: 20px !important;
  
   }
  
    ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover{
    color:#000; text-decoration:underline;
    }
  
   
    ul.left_menu li.tree a,
  ul.left_menu li.sub a,
  ul.left_menu li.even a,
  ul.left_menu li.odd a{
  font-size: 14px;
  width:166px;
  height:25px;
  display:block;
  text-decoration:none;
  color:#504b4b;
  padding: 10 0 10 14px;
  line-height:25px;
  }
  ul.left_menu li.odd a{
    border-bottom:1px #e4e4e4 dashed;

  }

  ul.left_menu li.even a{
  
  border-bottom:1px #e4e4e4 dashed;
  background-color:#f0f4f5;
  }

 




   .field {
    width: 180px;
    display: flex;
    height: 24px;
    border: 1px solid #d3d3d3;
    color: #464141;
    background: #ededed;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    text-align-last: center;
   }
 


   #categories {
    display: flex;
    padding: 0 10px;
    outline:none;
    text-align-last:center;
    padding: 0 .5em;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    justify-content: center;
  }

  option:hover,
  option:focus,
  option:active,
  option:checked ,
    option{
    zoom: 1.2;
    outline: none !important;
    line-height: inherit;
    box-shadow: none !important;
    }
 

.icon-cart::after {  content: " ";background: url(../../images/cart.png) center no-repeat; height: 17px; padding-left: 20px;}
.icon-lock::before {content: " ";background: url(../../images/login.png) center no-repeat;padding-left: 20px;margin-bottom: 2px;}
 
 .search >* {border: none}
 .search >select {
   width: 30%;
   font: bold   "Helvetica Neue", sans-serif;
   appearance: none;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

select:focus {
  outline:none;
}
.search >option{

  background: blanchedalmond;
  line-height: 35px;
}

 

 .field :focus{
 
  border-width:0 ;
  border: none;
 }

 .search{
  width: 250px;
  padding: 0 0 0 10;
 }

/* .navmenu{
  background: url(../../images/border-title.png) repeat-x 0 top;
}
  */
#logo {
    width: 129px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 23px;
    left: 10px;
}
#logo a {
  cursor: default;
  height: 26px;
  display: block;
  background: url(../../images/logo.png) no-repeat 0 0;
  /* text-indent: -4000px; */
}



.navmap{
    text-decoration: underline;
    /* line-height: 15px; */
    color: #7c7c8c;
    /* font-size: 15px; */
    /* height: 10px; */
  }
  
  
  .navmap::before {
      height: 12px;content: " ";
    background: url(../../images/navsep.png) center no-repeat;
    padding-left: 15px;padding-bottom: 2px;
}




.selected > a{
    font-size: 16px !important;
   
    font-weight: bolder;
   }
  

   input.prod_buy,
a.prod_buy{
  width:75px;
  height:24px;
  border: 0;
  background:url(../../images/link_bg.gif) no-repeat center;
  margin:2px 0 0 5px;
  text-align:center;
  line-height:24px;
  text-decoration:none;
  color: #006600;
  }


  form >div{
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    color: #666;
}

form{
    text-align: left;
  }

  form >.field{
    text-align-last: left;
  }

  .flex-container {
     display: flex;
    justify-content: left;
    flex-flow: row;
    padding: 10 0 0 0;
    margin-top: 6px;
    list-style: none;
  }
  
  /* .flex-container  > a {
    margin: auto;
    font-size: x-large;
    text-decoration: none;
  } */


.search-btn {
  float: left;
  margin-top: 2;
  margin-left: 10;

  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
  cursor: pointer;
  width: 28px;
  height: 22px;
  border: 0;
  background: url(../../images/search1.png) no-repeat 0 0;
}


.price{
  color: #ff8a00;
  padding-bottom: 10px;
  }

  .nested-cat{

    
      display: flex;
      padding-left: 10px;
      margin: 0px 0px 0px 15px;
   
  }

.prod_details {
  border: none;
  width: 75px;
  height: 24px;
  display: block;
  /* float: right; */
  background: url(../../images/link_bg.gif) no-repeat center;
  /* margin: auto; */
  text-align: center;
  line-height: 24px;
  text-decoration: none;
  color: #159dcc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}


 
.prod_box_big{text-align: center;height: 100%;background: #fff;padding:10px 10px 15px 15px;}

.center_prod_box_big{
  /* height: inherit; */
  /* flex-flow: column; */
  /* display: flex; */
  /* padding:0 0 10px 0; */
  margin:0px;
  /* text-align: center; */
  /* height: 100%; */
  /* background: #fff; */
  /* padding: 10px 10px 15px 15px; */
}

.product_img_big{padding:10px 0 0 10px;height: inherit;display: flex;}
.product_title_big{color:#ff8a00;padding:5px 0 5px 0;font-weight:bold;font-size: 14px;margin: auto;}



  

.flex-container >select {
  height: 22px;
  margin-left: 5px;
  background-color: #fff;
  color: #999999;
  border: 1px #DFDFDF solid;
  border: 1px solid #d3d3d3;
  color: #464141;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}

#mainImg{
  max-width: 200px;
  padding-bottom: 20px;
}

.center_title_bar{
  width:575px;
  text-align: center;
  padding:0 0 0 10px;
  margin: 0 auto 20 auto;
  line-height:31px;
  font-size:12px;
  background-color: aquamarine;
  color:#159DCC;
  font-weight:bold;
  background: url(../../images/bar_bg.gif) no-repeat;
}
.contact_form {
  /* width: 355px; */
  margin: 0 auto;
}

.contact_form >div>label{
  width: 75px;
  height: 22px;
  font-size: 12px;
}

input.contact_input{
  width: 253px;
  height: 22px;
  background-color: #fff;
  color: #999999;
  border: 1px #DFDFDF solid;
  border: 1px solid #d3d3d3;
  color: #464141;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}



.contact_form >div>textarea{

 
  width: 253px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #999999;
  background-color: #fff;
  border: 1px #DFDFDF solid;
  
}


.contact_form >div>textarea:hover,
.contact_form >div>textarea:focus
{
  outline: none;
  width: 253px;outline: none; height: 100px;;background-color: #fff;
  color: #999999;border: 2px solid #d3d3d3;
  color: #464141;background: #f5f1f187;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}

#mapid {height: 400px;}

.panel-heading {
  position: relative;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  border-top-right-radius: 3px;
  text-align: center;
  border-top-left-radius: 3px;
  color: #666;
  font-weight: 500;
  line-height: 2em;
  /* white-space: pre-line; */
}
.next
{
  margin: auto;
  text-decoration: none;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

.map-wrapper{
  height: 500px;
}
.about{
  display: none;
}
.about_cur{
  display: block;
}
.about_img-box
{
  height: 450px;
  overflow: hidden;
}